<% @recipe.tags.build %>
<%= form_for(@recipe) do |recipe_form| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field_title">
    <%= recipe_form.label :title %><br />
    <%= recipe_form.text_field :title %>
  </div>

  <div class="field">
    <%= recipe_form.label :description %><br />
    <%= recipe_form.text_field :description %>
  </div>

  <div class="field">
    <%= recipe_form.label :content %><br />
    <%= recipe_form.text_area :content %>
  </div>

  <h2>Tags</h2>
  <%= render :partial => 'tags/form',
             :locals => {:form => recipe_form} %>

  <div class="actions">
    <%= recipe_form.submit %>
  </div>
<% end %>
