<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @recipe.title %>
</p>

<p>
  <b>Description:</b>
  <%= @recipe.description %>
</p>

<p>
  <b>Content:</b>
  <%= @recipe.content %>
</p>

<h2>Comments</h2>
<%= render :partial => "comments/comment",
           :collection => @recipe.comments %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>

<br />

<%= link_to 'Edit Recipe', edit_recipe_path(@recipe) %> |
<%= link_to 'Back to Recipes', recipes_path %>
